/* Universal */

* {
    margin: 0px;
    padding: 0px;
}

/* External CSS for Shrabony Navbar */

body {
    background-color: #ffffff;
  }
  
  .navbar {
    background-color: #98FB98;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  span {
    color: red;
  }

  .logo {
    font-size: 40px;
  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar a:hover {
    background-color: #000;
    color: #ffffff;
  }
  
  .logo {
    float: left;
    width: 100px;
    height: 50px;
    margin-top: 5px;
  }
  
  .navbar .active {
    background-color: #000;
    color: #ffffff;
  }

/* banner section */

.banner-container {
    background: url("../images/banner/banner4.jpg"), lightgray 50% / cover no-repeat;
    /* background-blend-mode: overly; */
    height: 800px;
}

.col-1 {
    height: 800px;
    background-color: rgba(58, 22, 22, 0.683);
}

.banner-iteam {
    display: flex;
    width: 500px;
}

.banner-desk {
    justify-content: right;
    align-items: center;
    margin-top: 200px;
    margin-left: 700px;
    text-align: right;
}

.banner-desk .b-pera {
    justify-content: right;
    width: 500px;
    color: #ffffff;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* background: rgba(31, 16, 16, 0.735) 50% / cover no-repeat; */
    line-height: 30px;
    }

.banner-desk h2 {
    color: #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-primary {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: #c54907;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* failure */

.failure {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
}
.f-img {
    background-image: url("../images/back1.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 600px;
}

.f-img > .f-img-cont > img {
    height: 650px;
    width: 450px;
    margin-left: 40px;
    padding-right: 72px;
}

.failure-container {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
}

.description > h4 {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

.description p {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 0px;
}

.description ul {
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 335px;
    margin: auto;
}

/* plan sec */

.my-plan-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.my-plan > h4 {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 70px;
}

.plan-itm h5 {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plan-itm p {
    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.my-plan {
    margin-bottom: 100px;
}

/* Positive */

.positive {
    height: 80vh;
    border: 1px solid gray;
    position: relative;
}

.positive-cont {
    /* background-image: url("../images/watch.png"), url("../images/gradient2.png");
    position: absolute; */
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    /* border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%); */
}

.grad {
    margin-top: -320px;
}

.pos-desk {
    margin-top: -280px;
    margin-left: 65px;
}

#btn {
    background-color: white;
    color: orangered;
}

.pos-desk > h4 {
    width: 459px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Footer */

.footer-container {
    height: 577px;
    background: #151414;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-iteam > h4 {
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-iteam p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer-iteam {
    margin: 0px 100px;
}

.footer-iteam img {
    margin-right: 15px;
}

.peragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pera {
    margin-bottom: 20px;
}

input {
    display: block;
    margin-bottom: 5px;
    width: 325px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #151414;
    font-size: 25px;
}

input ::placeholder {
    margin-left: 15px;
    padding: 0px 15px;
}